@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TheJamsil5Bold';
    src: local('TheJamsil5Bold'),url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}